
.wrapper {
  max-width: 46em;
}

.icon {
  fill: black;
}


.card {
  color: #666;
  background-color: #eee;
  border-radius: 16px;
  overflow: hidden;
}

.name-card {
  max-width: 300px;

}

.name-card div {
  margin-left: 1rem;
}

.name-card small {
  color: #999;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.event-card img {
  max-width: 80px;
}

.event-card {
  max-width: 500px;
}

.event-card h4 {
  font-size: 1.125rem;
}

.event-label {
  vertical-align: middle;
  margin-left: 0.5rem;
}

.event-card-lg {
  max-width: 400px;
  position: relative;
  max-height: 200px;
}

.event-label-lg {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
}

.small {
  font-size: 0.7em;
}

@media only screen and (min-width: 25em) {

  .event-card img{
    max-width: 100px;
  }

}

@media only screen and (min-width: 60em) {

.info {
  float: left;
  width: 50%;
}

.details {
  float: right;
  width: 50%;
}

.attending {
  float: left;
  width: 50%;
}

.about {
  width: 65%;
  float: left;
}

.interest {
  float: right;
  width: 30%;
}

.events {
  float: left;
  width: 100%;
}

.event-card {
  margin-right: .7rem;
}

.event-card h4 {
  font-size: 1rem;
}

.event-card img{
  max-width: 120px;
}

}
