.btn {
  background-color: #fff;
  border-color: transparent;
  transition: all 250ms linear;
}

.btn:hover {
  background-color: var(--color-primary-light);
  border-color: transparent;
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: transparent;
  color: #fff;
}

.btn-light:hover {
  background: #FF8A8A;
}

.btn-ghost {
  background-color: transparent;
  border: 1.5px solid var(--color-primary);
  border-radius: 16px;
  color: var(--color-primary);
}

.btn-ghost:hover {
  color: #fff;
}
