header {
  z-index: 100;
  width: 100%;
  margin: 0;
}

a img {
  display: block;
  width: 30%;
  padding-top: 1%;
}

.logo {
  width: 40%;
  float: left;
}

.icon-link svg {
  fill: #696969;
}

.icon-link:hover svg {
  fill: #F84646;
}

.icon-link:focus svg {
  fill: #F84646;
}

@media only screen and (min-width: 25em) {

  .logo {
    width: 20%;
    float: left;
  }

}
