:root {
  --color-primary: #F84646;
  --color-primary-light: #FF8A8A;
  --color-secondary: #696969;
  --color-secondary-light: #F7F7F7;

  --font-primary: 'Nunito Sans', sans-serif;

}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

h3, .pink {
  color: var(--color-primary);
}

.tera {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.see-all:focus,
.see-all:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
  font-weight: bold;
}

mark {
  background-color: var(--color-secondary);
}

footer {
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #f7f7f7;
  color: var(--color-secondary);
  display: block;
  clear: both;
}
