:root {
  --color-primary: #F84646;
  --color-primary-light: #FF8A8A;
  --color-secondary: #696969;
  --color-secondary-light: #F7F7F7;

  --font-primary: 'Nunito Sans', sans-serif;

}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}


.tera {
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}


mark {
  background-color: var(--color-secondary);
}
