.masthead {
  background-size: 64px;
  background-color: var(--color-secondary-light);
}

.header h1 {
  font-family: var(--font-primary);
  font-weight: normal;
  font-size: 3.5em;
  display: inline-block;
  color: var(--color-primary);
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.header a {
  font-weight: 100;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: var(--color-secondary-light);
  transition: all 400ms linear;
}

.nav a:hover, .nav a:focus {
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 20px;
  background-size: 100px auto;
  background-repeat: no-repeat;
  background-position: center;
  outline: 0;
}

.nav a:active {
  background-color: var(--color-secondary-light);
}

@media only screen and (min-width: 60em) {

  .header h1 {
    display: inline-block;
    font-size: 2em;
  }

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
