.footer {
  background-size: 48px;
  background-color: var(--color-secondary-light);
}

.footer a {
  padding: 30px 20px;
  color: var(--color-secondary);
}

.footer a:hover, .footer a:focus {
  color: var(--color-primary);
  outline: 0;
}

.footer .copyright {
  color: #fff;
  font-weight: 100;
  font-size: 60%;
}

.footer .address {
  color: #fff;
  font-weight: 100;
  display: inline-block;
  padding: 30px;
  text-align: left;
  margin: 0;
}

.footer .contact {
  color: #fff;
  font-weight: 100;
  display: inline-block;
  text-align: left;
  margin: 0;
}
